body header {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  body header nav .crayons-header__logo {
    display: flex;
  }
  body header nav .header__search {
    width: 100%;
  }
  body header nav .header__search form .input-group {
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 30%;
  }
  body header nav .header__search form .input-group input {
    border: none;
  }
  body header nav .header__search form .input-group button {
    background-color: white;
    border: none;
  }
  body header nav .lupita {
    padding: 0;
    border: none;
    width: 5px;
    display: flex;
    align-items: center;
  }
  body header nav .lupita img {
    margin-right: 15px;
  }
  body header .logoContainer img {
    width: 50px;
  }
  body header .profilePicContainer img {
    width: 30px;
    border-radius: 50%;
    border: 1px solid gray;
  }
  
  @media (max-width: 1023px) {
    body header nav .header__search {
      display: none;
    }
  }

  .listings {
    border: 1px solid #ececec;
    margin-top: 15px;
    padding-bottom: 0;
    background-color: #fafafa;
    border-radius: 10px;
  }
  .listings ul {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0;
  }
  .listings ul .title {
    border: 1px solid #ececec;
    background-color: #fafafa;
    color: #404040;
    font-size: 1.2rem;
    font-weight: 700;
  }
  .listings ul .title a {
    text-decoration: none;
    font-size: 14px;
  }
  .listings ul .elemento-lista {
    border: 1px solid #ececec;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
  }
  .listings ul .elemento-lista a {
    color: #858585;
    text-decoration: none;
  }
  .listings ul .elemento-lista .New {
    color: #93561c;
    background-color: #fcd34d;
    width: 40px;
    text-align: center;
    border-radius: 5px;
  }
  .listings ul .elemento-lista:hover {
    background-color: white;
    color: #4f58be;
    cursor: pointer;
  }
  .listings ul .lista-btn {
    text-align: center;
    font-weight: 600;
    border: none;
    background-color: #fafafa;
  }
  .listings ul .lista-btn a {
    color: #414141;
    text-decoration: none;
  }
  .listings ul .lista-btn a:hover {
    color: #4550bb;
  }
  
  .cardMainPost {
    background-color: white;
  }
  
  @media only screen and (min-width: 10px) and (max-width: 767px) {
    #column-H4, #column-P1, #column-P2, #main__column-3P {
      display: none;
    }
  }
  @media only screen and (min-width: 10px) and (max-width: 767px) {
    #logo_Dev {
      display: none;
    }
  }
  
  @media only screen and (min-width: 10px) and (max-width: 640px) {
    #spanDev {
      display: none;
    }
  }
  
  @media only screen and (min-width: 10px) and (max-width: 767px) {
    #barraSuperior {
      display: flex;
      justify-content: end;
    }
  }
  
  @media only screen and (min-width: 10px) and (max-width: 767px) {
    #main__column-2P {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 770px) and (max-width: 3000px) {
    #main__column-2P {
      display: flex;
      justify-content: center;
      width: 70%;
      height: 50%;
    }
    #main__column-3P {
      width: 10%;
    }
    #barraSuperior {
      display: flex;
      justify-content: start;
    }
    #cerrar {
      width: 30%;
    }
  }
  body {
    background-color: #f8f8f2;
  }
  body main {
    background-color: #f8f8f2;
  }
  body main .page-container {
    padding: 1rem;
    margin: 0 auto;
  }
  body main .page-container .page__leftColumn {
    width: 25%;
  }
  body main .page-container .page__centerColumn {
    width: 50%;
  }
  body main .page-container .page__centerColumn .tabContainer:hover {
    cursor: pointer;
  }
  body main .page-container .page__rightColumn {
    width: 25%;
  }
  
  @media (max-width: 1023px) {
    body main .page-container .page__leftColumn {
      width: 30%;
    }
    body main .page-container .page__centerColumn {
      width: 70%;
    }
    body main .page-container .page__rightColumn {
      display: none;
    }
  }
  @media (max-width: 767px) {
    body main .page-container .page__leftColumn {
      display: none;
    }
    body main .page-container .page__centerColumn {
      width: 100%;
    }
  }/*# sourceMappingURL=styles.css.map */